#nameSearch {
    direction: rtl;
    text-align: right;
}
input {
    font-family: "Times New Roman", Times, serif;
}
.hebrew {
    font-family: "Times New Roman", Times, serif;
    direction: rtl;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tehilim {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.8; /* Améliore la lisibilité */
    margin-left: auto; /* Centre le texte */
    margin-right: auto; /* Centre le texte */
    padding: 0 15px;

}

.button:hover {
    background-color: #4258ff;
    color: #fff;
}

#content-tehilim {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#nechama {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .tehilim {
        font-size: 14px; /* Réduit encore plus la taille de la police */
        max-width: 95%; /* Le texte prend jusqu'à 95% de la largeur de l'écran */
        
    }
}